Repository deepcharles/ruptures, pull requests merged in 2021-01, with the labels that each got.

#102 ci: add gh actions for PR labeling
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/lint-pr.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: Type: CI

#103 ci: fix release-drafter and pr-semantic-check
  .github/semantic.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-drafter.yml
Labels: Type: CI

#104 fix(costclinear): make multi-dimensional compatible
  src/ruptures/costs/costclinear.py
  tests/test_costs.py
Labels: Type: Fix

#105 test(costlinear): add test for CostLinear
  docs/user-guide/costs/costlinear.md
  tests/test_costs.py
Labels: Type: Testing

#106 test: Improve test coverage
  src/ruptures/datasets/pw_constant.py
  tests/test_costs.py
Labels: Type: Testing

#111 fix(KernelCPD): explicitly cast signal into double
  src/ruptures/detection/kernelcpd.py
  tests/test_detection.py
Labels: Type: Fix
