Repository deepcharles/ruptures, pull requests merged in 2021-06, with the labels that each got.

#168 build: add nltk dependency to run docs examples
  setup.cfg
Labels: Type: Maintenance

#170 chore(changelog): add ci in Maintenance section
  .github/release-drafter.yml
Labels: Type: Maintenance, skip-changelog

#173 fix: store signal in CostMl object for compatibility reasons
  src/ruptures/costs/costml.py
  tests/test_detection.py
Labels: Type: Fix

#171 fix: lru-cache usage
  src/ruptures/detection/binseg.py
  src/ruptures/detection/bottomup.py
  src/ruptures/detection/dynp.py
  tests/test_detection.py
Labels: Type: Fix
