Repository deepcharles/ruptures, pull requests merged in 2021-02, with the labels that each got.

#108 test(kernelcpd): exhaustive test for kernelcpd
  src/ruptures/detection/binseg.py
  src/ruptures/detection/kernelcpd.py
  src/ruptures/detection/window.py
  src/ruptures/utils/bnode.py
  tests/test_detection.py
Labels: Type: Testing

#114 build: use oldest-supported-numpy
  pyproject.toml
Labels: Type: Build

#115 docs: add music segmentation example
  .binder/apt.txt
  .binder/requirements.txt
  .github/workflows/check-docs.yml
  .github/workflows/publish-doc-to-remote.yml
  .pre-commit-config.yaml
  docs/examples/kernel-cpd-performance-comparison.ipynb
  docs/examples/music-segmentation.ipynb
  docs/index.md
  mkdocs.yml
  setup.cfg
  src/ruptures/detection/kernelcpd.py
Labels: Type: Documentation

#119 docs: fix typo
  docs/examples/music-segmentation.ipynb
Labels: Type: Documentation

#120 ci: use joerick/cibuildwheel@v1.9.0 action in upload to pypi
  .github/workflows/upload-to-pypi.yml
Labels: Type: CI

#121 ci: add depency for librosa
  .github/workflows/check-docs.yml
  .github/workflows/publish-doc-to-remote.yml
  docs/examples/music-segmentation.ipynb
Labels: Type: CI
