Repository deepcharles/ruptures, pull requests merged in 2021-05, with the labels that each got.

#153 chore: set manually a working version of pip for install
  .github/workflows/run-test.yml
Labels: Type: Maintenance

#142 docs: add text segmentation example
  .binder/requirements.txt
  .pre-commit-config.yaml
  docs/data/text-segmentation-data.txt
  docs/examples/music-segmentation.ipynb
  docs/examples/text-segmentation.ipynb
  docs/user-guide/detection/kernelcpd.md
  mkdocs.yml
Labels: Type: Documentation

#154 ci: custom commit message for autoupdate PRs
  .pre-commit-config.yaml
Labels: Type: CI

#164 fix: enfoce deepcopy for costar to avoid inplace modifications
  src/ruptures/costs/costautoregressive.py
Labels: Type: Fix
