Repository deepcharles/ruptures, pull requests merged in 2021-10, with the labels that each got.

#210 fix: use cibuildwheel package and add tests
  .github/workflows/upload-to-pypi.yml
  pyproject.toml
Labels: Type: Fix, Type: CI, Type: Build

#211 test: better handling of mahalanobis
  tests/test_costs.py
Labels: Type: Testing

#213 fix: random behaviour of KernelCPD (Pelt)
  src/ruptures/detection/_detection/ekcpd_pelt_computation.c
  tests/test_detection.py
Labels: Type: Fix
