Repository deepcharles/ruptures, pull requests merged in 2021-09, with the labels that each got.

#204 ci(gh-tests): change pip version for test jobs
  .github/workflows/run-test.yml
Labels: Type: CI

#198 fix(CostNormal): add small bias in covariance matrix
  docs/user-guide/costs/costnormal.md
  src/ruptures/costs/costnormal.py
  src/ruptures/detection/binseg.py
  src/ruptures/exceptions.py
  src/ruptures/utils/bnode.py
  tests/test_bnode.py
  tests/test_costs.py
  tests/test_detection.py
Labels: Type: Fix

#205 docs: update changelog
  CHANGELOG.md
Labels: Type: Documentation

#206 ci: change precommit autoupdate to quarterly
  .pre-commit-config.yaml
Labels: Type: CI, skip-changelog

#207 docs: typo
  docs/examples/music-segmentation.ipynb
Labels: Type: Documentation, skip-changelog

#208 ci: do not run tests when only documentation is modified
  .github/workflows/run-test-coverage.yml
  .github/workflows/run-test.yml
Labels: Type: CI, skip-changelog

#209 fix: CostMl fitting behaviour
  src/ruptures/costs/costml.py
  tests/test_costs.py
Labels: Type: Fix
