Repository deepcharles/ruptures, pull requests merged in 2022-04, with the labels that each got.

#247 chore: do not pin mkdocs version
  .pre-commit-config.yaml
  docs/user-guide/detection/binseg.md
  docs/user-guide/detection/bottomup.md
  docs/user-guide/detection/window.md
  setup.cfg
  tests/test_detection.py
Labels: Type: Maintenance

#248 docs: Ensemble dimensions
  docs/examples/merging-cost-functions.ipynb
  mkdocs.yml
Labels: Type: Documentation

#249 fix: Allow Binseg to hit minsize bounds for segments
  src/ruptures/detection/binseg.py
  tests/test_detection.py
Labels: Type: Fix
